// font size variable

$fs-8: 0.5rem;
$fs-10: 0.625rem;
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-32: 2rem;
$fs-40: 2.5rem;
$fs-64: 4rem;

//font-weight variables

$fw-500:500;
$fw-600:600;

// border radius variables

$radius-8: 8px;
$radius-4: 4px;
$radius-16: 16px;

// size variables

$size-0: 0px;
$size-4: 4px;
$size-8: 8px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-32: 32px;
$size-36: 36px;
$size-40: 40px;
$size-42: 42px;
$size-48: 48px;
$size-64: 64px;
$size-100: 100px;
$size-200: 200px;

// shadow variables

// header shadow

$ac-shadow-light: 0px 10px 13px 0px rgba(17, 38, 146, 0.05);
$ac-shadow-dark: 0px 10px 13px 0px rgba(25, 36, 37, 0.4);

