@import "../variables/variables";

/*font sizes css*/

.fs-8 {
    font-size:$fs-8;
}

.fs-10 {
    font-size:$fs-10;
}

.fs-12 {
    font-size:$fs-12;
}

.fs-14 {
    font-size:$fs-14;
}

.fs-16 {
    font-size:$fs-16;
}

.fs-18 {
    font-size:$fs-18;
}

.fs-20 {
    font-size:$fs-20;
}

.fs-24 {
    font-size:$fs-24;
}

.fs-32 {
    font-size:$fs-32;
}

.fs-40 {
    font-size:$fs-40;
}
.fs-64 {
    font-size: $fs-64;
}
/*font sizes css*/
